

#omron-form-style .ant-pro-card .ant-por-card-body {
  padding-inline: 5px;
  padding-block: 1px;  
}

#omron-form-style {
  margin-left: 5px;
}

#omron-form-style .ant-form-item {
  margin-top: 4px;
  margin-bottom: 4px;
}

#omron-form-style .ant-descriptions-header {
  margin-bottom: 10px;
}



